.result {
  background-color: #333;
  height: 100vh;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}
.result p {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.download {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  width: 20%;
}

.toHome {
  width: 30%;
}
